<p>books works!</p>

<div class="container mt-5 p-5">
  <h1>Choose your BOOK</h1>
  <div class="row g-3">
    @for (book of books; track book.id) {
    <div class="col-md-6">
      <div class="border">
        <img src="{{ book.imag }}" alt="" class="col-md-6" />
        <h3 class="bg-dark text-light p-3">Name: {{ book.name }}</h3>
        <div class="p-4">
          <p>Price : {{ book.price }}</p>
          <p>Amount : {{ book.amount }}</p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor
            dolore autem
          </p>
          <hr>
          @if (book.amount>1) {
          <button class="btn btn-success">{{ buyStatus }}</button>}
           @else if
          (book.amount==1) {
             <button class="btn btn-warning">{{ buyStatus }}</button>}
          @else { <button class="btn btn-danger" disabled>{{ buyStatus }}</button>
          }
        </div>
      </div>
    </div>

    }@empty {
    <div class="alert alert-danger p-4">
      <h1>No Books Founded</h1>
    </div>
    }
  </div>
</div>
